body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
img {
    width: 100%;
}
h1{
    font-size: 45px;
    margin-bottom: 0%;
    padding-left: 10px;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    
}
.container-2nd{
    display: flex;

}
.years{
    color: orange;
}
h2{
    font-size: 40px;
    margin-top: 0%;
    padding-left: 10px;
}
.green-color{
    color: green;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
    
.coding-pic{
    background-image: url(images/shapes/dream-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    width: 80%;
    margin-left: 10%
}
.project{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: bottom 24px right 50px;
    background-size: 150px;
    height: 500px;
    
    
}
.Stay-Focused{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 150px;

}
.half-width{
    width: 50%;
    padding-left: 10%;

}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,green);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
.side-border{
    border-image: linear-gradient(orange,green);
    border-left: 5px solid;
    border-image-slice: 1;
    
}
.middle{
    text-align: center;
    margin-bottom: 5%;
}
.code-solve{
    text-align: center;
    margin-bottom: 5%;
}
.orange{
    color: orange;
}

.item {
    width: 33.333333%;
    padding-left: 15px;
    padding-right: 15px;
}
.box-shadow {
    background-color: #EDF5F6;
    box-shadow: 10px 10px 40px gray;
    border-radius: 20px;
    padding: 30px;
}
.item:nth-child(2) .box-shadow {
    background-color: #FEEEEE;
}
.item:nth-child(3) .box-shadow {
    background-color: #FEF4D6;
}
.box-shadow img {
    width: 100px;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}
.date{
    color: red;
}